{% extends 'base.jinja' %}

{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-8">
            <div class="alert alert-success mt-2" role="alert">
                Your account has been registered and is pending approval!
            </div>
            <div class="alert alert-warning mt-2" role="alert">
                After approval, login using the following <b>temporary</b> password: <br/><strong>{{ password }}</strong>
                <!-- copy password option -->
                <button class="btn btn-outline-primary btn-sm" onclick="navigator.clipboard.writeText('{{ password }}')">Copy</button>
            </div>
            <div class="d-grid mt-3">
                <a class="btn btn-outline-primary" href="{{ url_for('home_page') }}">Return to homepage</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
